i.fa
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-position: center center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
i.logo
{
    background-image: url('../ico/logo.png');
}
i.head-image
{

}