textarea
{
    max-width: 800px;
    width: 800px;
    background-color: transparent;
    line-height: 20px;
    margin-bottom: 5px;
    outline-style: none;
    text-indent: 4em;
    border-color: #C4E1EF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
hr
{
    margin: 10px;
}